.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.screen {
    height: 50px;
    width: 301px;
    text-align: right;
    background-color: #eee;
    margin-bottom: 20px;
}

.input {
    position: relative;
    top: 20px;
    right: 20px;
}

button {
    padding: 13px;
    width: 70px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 15px;
}

.body{
  position: absolute;
  background-color: grey;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5%;
}

#clear {
    background-color: red;
    color: white;
    border-radius: 20%;
    border: 2px solid grey;
    position: relative;
    left: 225px;
}

#equals {
    background-color: #4285f4;
    border: 2px solid grey;
}