.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.screen {
    height: 50px;
    width: 301px;
    text-align: right;
    background-color: #eee;
    margin-bottom: 20px;
}

.input {
    position: relative;
    top: 20px;
    right: 20px;
}

button {
    padding: 13px;
    width: 70px;
    height: 40px;
    margin-bottom: 5px;
    font-size: 15px;
}

#clear {
    background-color: red;
    color: white;
    border-radius: 20%;
    border: 2px solid white;
}

#equals {
    background-color: #4285f4;
    border: 2px solid white;
}